body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "YuGothic", "游ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "Meiryo", "メイリオ", sans-serif;
  line-height: 1;
}
  
html, body, .view {
  position: fixed;
  width: 100%;
  height: 100%;
}
